Source: mingw-w64-libunistring
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev,
	       gcc-mingw-w64, g++-mingw-w64 (>= 1.7.1),
	       gperf
Standards-Version: 4.1.1
Section: libs
Homepage: http://www.gnu.org/software/libunistring/
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-libunistring.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-libunistring.git

Package: libunistring-mingw-w64-dev
Section: libdevel
Architecture: any
Depends: libunistring1-mingw-w64 (= ${binary:Version}), ${misc:Depends}
Description: Library for manipulating Unicode strings and C strings. (mingw-w64 developemnt)
 This package contains the deveopment files

Package: libunistring1-mingw-w64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for manipulating Unicode strings and C strings. (mingw-w64 runtime)
 This package contains the runtime files.
